.container {
    display: grid;
    row-gap: 4rem;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

.imageFormContainer {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.imageContainer {
    flex: 1;
    position: relative;
    height: 500px;
}

.img {
    object-fit: contain;
    animation: move 3s infinite ease-in-out alternate;
}

@keyframes move {
    from {
        transform: translateY(-10px);
    } to {
        transform: translateY(10px);
    }
}

.formContainer {
    flex: 1;
}

.form {
    display: grid;
    row-gap: 2rem;
}

.input, .textarea {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    background-color: #222;
    color: white;
    border: 2px solid white;
    border-radius: 0.5rem;
}