.mainTitle {
  font-size: 5rem;
}

.selectTitle {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.items {
  display: flex;
  gap: 3rem;
  margin: 1.5rem 0;
}

.item {
  width: 300px;
  height: 400px;
  border: 2px solid white;
  border-radius: 0.5rem;
  position: relative;
  background-size: cover !important;
}

.item:hover {
  color: #51c283;
}

.item:nth-child(1) {
  background: url("/illustration.png");
}

.item:nth-child(2) {
  background: url("/websites.jpg");
}

.item:nth-child(3) {
  background: url("/apps.jpg");
}

.title {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Loading Page */

.loadingContainer {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  animation: sideToSide 0.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}

@keyframes sideToSide {
  from {
    background: linear-gradient(to left, #53c28b, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: linear-gradient(to left, white, #53c28b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
