.container,
.formContainer {
  display: grid;
  row-gap: 2rem;
}

.input,
.textarea {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  border: 2px solid #53c28b;
  border-radius: 0.5rem;
  color: inherit;
}

.input:focus,
.textarea:focus {
  box-shadow: 0 0 10px #53c28b;
}

.registerButton {
  border: none;
  background-color: rgb(83, 194, 139);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.registerButton:hover {
  opacity: 0.85;
  transition: all 0.2s ease;
}

.existingAccount {
  display: flex;
  justify-content: center;
}

.existingAccount:hover {
  opacity: 0.8;
}

.errorMessage {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}

.loadingContainer {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  animation: sideToSide 0.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}

@keyframes sideToSide {
  from {
    background: linear-gradient(to left, #53c28b, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: linear-gradient(to left, white, #53c28b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
