.container {
  display: flex;
  gap: 4rem;
}

.posts,
.new {
  flex: 1;
}

.yourPosts {
  margin-bottom: 1.5rem;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #53c28b;
}

.post:hover {
  box-shadow: 0 0 10px #53c28b;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.img {
  object-fit: contain;
}

.new {
  display: grid;
  row-gap: 1.5rem;
}

.input,
.textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  border: 2px solid #53c28b;
  border-radius: 0.5rem;
  color: inherit;
}

.input:focus,
.textarea:focus {
  box-shadow: 0 0 10px #53c28b;
}

.button {
  border: none;
  background-color: rgb(83, 194, 139);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  opacity: 0.85;
  transition: all 0.2s ease;
}

.delete {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid red;
  border-radius: 0.5rem;
  color: red;
}

.delete:hover {
  color: tomato;
  border-color: tomato;
  box-shadow: 0 0 10px tomato;
}


/* Loading Page */

.loadingContainer {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  animation: sideToSide 0.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}

@keyframes sideToSide {
  from {
    background: linear-gradient(to left, #53c28b, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: linear-gradient(to left, white, #53c28b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
