.container {
  display: flex;
}

.posts,
.new {
  flex: 1;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: relative;
}

.delete {
  cursor: pointer;
  background-color: red;
}

.img {
  object-fit: cover;
}

.new {
  display: grid;
  row-gap: 1.5rem;
}

.input,
.textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  border: 2px solid #53c28b;
  border-radius: 0.5rem;
  color: inherit;
}

.input:focus,
.textarea:focus {
  box-shadow: 0 0 10px #53c28b;
}

.button {
  border: none;
  background-color: rgb(83, 194, 139);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  opacity: 0.85;
  transition: all 0.2s ease;
}
